# This is a basic workflow to help you get started with Actions

name: update-blocklists

# Controls when the workflow will run
on:
  schedule:
    - cron: "30 0,12 * * *"
  push:
    branches:
      - main
    paths:
      - "threats/dns/**"
      - "config/hosts-compiler/**"
  workflow_dispatch:

  
jobs:
  update-scamjam-blocklists:
    runs-on: ubuntu-latest
    permissions: 
      contents: write


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: |

          # For the love of god clean this up into something competent.

          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}"

          cd threats/dns

          if [ -f "spam-tlds-onlydomains.txt" ]; then
            rm spam-tlds-onlydomains.txt
          fi

          wget https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/spam-tlds-onlydomains.txt
          sed -i '/^#/d' spam-tlds-onlydomains.txt
          sed -i '/^$/d' spam-tlds-onlydomains.txt
          sed -i -e 's/^/\*./' spam-tlds-onlydomains.txt
          
          if [ -f "spam-tlds-allow-onlydomains.txt" ]; then
            rm spam-tlds-allow-onlydomains.txt
          fi

          wget https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/spam-tlds-allow-onlydomains.txt
          sed -i '/^$/d' spam-tlds-allow-onlydomains.txt
          sed -i -e 's/^/\*./' spam-tlds-allow-onlydomains.txt

          if [ -f "nrd-last-20-days.txt" ]; then
            rm nrd-last-20-days.txt
          fi

          wget https://cdn.statically.io/gh/cenk/nrd/main/nrd-last-20-days.txt
          sed -i '/^$/d' nrd-last-20-days.txt
          sed -i -e 's/^/\*./' nrd-last-20-days.txt

    
          git add nrd-last-20-days.txt spam-tlds-onlydomains.txt spam-tlds-allow-onlydomains.txt

          
          git commit -m "update external blocklists hosted in repo"
          git push