# This is a basic workflow to help you get started with Actions

name: update-blocklists

# Controls when the workflow will run
on:
  schedule:
    - cron: "30 0,12 * * *"
  push:
    branches:
      - main
    paths:
      - "threats/dns/**"
      - "config/hosts-compiler/**"
  workflow_dispatch:

  
jobs:
  update-scamjam-blocklists:
    runs-on: ubuntu-latest
    permissions: 
      contents: write


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: |

          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}"

          cd threats/dns

          if [ -f "spam-tlds-onlydomains.txt" ]; then
            rm spam-tlds-onlydomains.txt
          fi

          wget https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/spam-tlds-onlydomains.txt
          sed -i '/^#/d' spam-tlds-onlydomains.txt
          sed -i -e 's/^/\*./' spam-tlds-onlydomains.txt
          
          if [ -f "spam-tlds-allow-onlydomains.txt" ]; then
            rm spam-tlds-allow-onlydomains.txt
          fi

          wget https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/spam-tlds-allow-onlydomains.txt
          sed -i -e 's/^/\*./' spam-tlds-allow-onlydomains.txt

          git add spam-tlds-onlydomains.txt spam-tlds-allow-onlydomains.txt

          cd ../..
          git clone https://github.com/PeterDaveHello/nrd-list-downloader.git
          cd nrd-list-downloader

          DAY_RANGE=14 ./nrd-list-downloader.sh
          sed -i -e 's/^/\*./' nrd-14days-free.txt
          cp nrd-14days-free.txt ../threats/dns/nrd-14days-free.txt
          git add ../threats/dns/nrd-14days-free.txt

          
          git commit -m "update external blocklists hosted in repo"
          git push