# This is a basic workflow to help you get started with Actions

name: update-blocklists

# Controls when the workflow will run
on:
  schedule:
    - cron: "0 8 * * *"
  push:
    branches:
      - main
    paths:
      - "threats/dns/**"
  workflow_dispatch:


    
jobs:
  update-blocklists:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Update Blocklists
        shell: pwsh
        run: |

          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}"

          New-Item -Path "threats/dns/temp" -ItemType "Directory"

          Get-Location
          Set-Location "threats/dns/temp"
          Get-Location
          
          $Files = @("spam-tlds-onlydomains.txt", "spam-tlds-allow-onlydomains.txt", "nrd-last-20-days.txt")
          
          foreach ($File in $Files) {
              if (Test-Path $File -PathType Leaf) {
                  Remove-Item $File
              }
          
          
              [string]$Url
              switch ($File) {
                  "nrd-last-20-days.txt" { $Url = "https://dl.cenk.app/nrd/nrd-last-20-days.txt" }
                  default { $Url = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/$File" }
              }
          
              try {
                  Invoke-WebRequest $Url -OutFile $File
              } catch {
                  Write-Error "Failed to download file $File! Will try to continue batch job." -ErrorAction SilentlyContinue
              }
          
              try {
                  Get-Content $File | Where-Object {-not $_.Contains('#')} | Set-Content
              } catch {
                  Write-Error "Failed to remove comments from $File! Will try to continue batch job." -ErrorAction SilentlyContinue
              }
          
              try {
                  Get-Content $File | ForEach-Object { "*." + $_ }  | Set-Content
              } catch {
                  Write-Error "Failed to add wildcards to $File! File will not be staged for upload. Will try to continue batch job." -ErrorAction SilentlyContinue
                  if (Test-Path $File -PathType Leaf) {
                      Remove-Item $File
                  }
              }
          
          }
          
          $Dir = Get-ChildItem
          foreach ($File in $Dir) {
          
              try {
                  Copy-Item $File "../threats" -Force
              } catch {
                  Write-Error "Failed to copy $File to git repo! Canceling since repo might not be intact." -ErrorAction Stop
              }
          }
          
          Set-Location "../threats"
          
          git add "nrd-last-20-days.txt" "spam-tlds-onlydomains.txt" "spam-tlds-allow-onlydomains.txt"
          
          git commit -m "update blocklists hosted in repo"
          git push
